* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @media(max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }
  
  @media(max-width: 1366px) {
    html {
      font-size: 72%;
    }
  }
  
  @media(max-width: 720px) {
    html {
      font-size: 87.5%;
    }
  }
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

  background-color: #0984e3;
}

body, input, button, textarea {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  width: 100%;
  align-items: flex-start;
  padding: 0 .8rem;
  margin-top: -1.2rem;
  margin-bottom: .4rem;
  font-size: .8rem;
  color: #fff;
}

.container {
  width: 60%;
  padding: 1.2rem;
  background-color: #FFF;

  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.item {
  margin-bottom: .6rem;
  display: flex;
  flex-direction: column;
}

span {
  font-size: .6rem;
  margin-bottom: .3rem;
}

input {
  padding: .3rem .4rem;
  font-size: .7rem;
  border: solid 1px #ddd;
  outline: none;
  border-radius: 3px;
}

input:focus {
  border-color: #0984e3;
}

textarea {
  height: 5.2rem;
  padding: .3rem .4rem;
  font-size: .7rem;
  border: solid 1px #ddd;
  outline: none;
  border-radius: 3px;
}

textarea:focus {
  border-color: #0984e3;
}

button {
  width: 4.3rem;
  height: 1.3rem;
  font-size: .5rem;
  align-self: flex-end;
  margin-top: .5rem;
  border: 0;
  outline: none;
  background-color: #0984e3;
  color:#FFFF;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

button:hover {
  transform: translateY(-1px);
}

.modal {
  position: absolute;
  top: -500px;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  display: flex;
  justify-content: center;
  transition: all ease-in-out .3s;
}

.modal-item {
  background-color: #FFF;
  width: 50%;
  height: 40%;
  margin-top: 3rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 .6rem;

  font-size: 1.8rem;
}

p {
  font-size: .8rem;
  margin-top: .4rem;
  margin-bottom: .2rem;
  font-weight: bold;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: .6rem;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.delete {
  position: absolute;
  right: 5px;
  width: .9rem;
  height: 1rem;
  border-radius: 4px;
  background-color: red;
  color: #fff;
  font-size: .6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  width: 100%;
  max-width: 11.3rem;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

.containerMail {
  width: 60%;
  height: 16rem;
  max-height: 16rem;
  overflow: auto;
  padding: 1.2rem;
  background-color: #FFF;

  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
h5 {
  overflow: hidden;
}


h2 {
  text-align: center;
  font-size: .8rem;
  font-weight: 400;
}

.mensagem {
  font-size: .6rem;
  margin-top: .2.3rem;
}